# Ignore Excel files (user dat)
*.xlsx
*.xlsm

# Ignore generated SQL scripts
scripts_staging/
scripts_migracao/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Build and Distribution folders
build/
dist/
*.spec
